body{
    background-color: aliceblue;
    background-image: url(https://articles-img.sftcdn.net/images/f_auto,q_auto/w_1024,h_576,c_scale/v1582331924/paisaje_9_yqdqcf/paisaje_9_yqdqcf-1024x576.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}